<style>
    :host {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
            'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>
<div class="grid grid-rows-main-layout grid-cols-main-layout h-full">
    <header class="col-span-3">
        <p>Header</p>
    </header>
    <aside class="page-leftbar">
        <p>Leftbar</p>
    </aside>
    <main class="col-span-2">
        <p>Main</p>
        <button class="py-2 px-3 m-2 bg-blue-500 hover:bg-nav-hover-blue rounded-md text-white">Click Me!</button>
    </main>
    <footer class="col-span-3">
        <p>Footer</p>
    </footer>
</div>

<router-outlet></router-outlet>
